.modal{
    position:fixed;
    inset:0;
    background-color:rgba(0,0,0,0.5);
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:1000;
}

.modal-contenido{
    width:90%;
    max-width:600px;
    background-color:white;
    border-radius:12px;
    padding:25px;
}

.modal-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}

.modal-body{
    margin-bottom:20px;
}

.modal-footer{
    display:flex;
    justify-content:flex-end;
    gap:10px;
}

.boton-cerrar-modal{
    font-size:22px;
    background:none;
}

.detalle-ticket{
    margin-bottom:10px;
}